@font-face {
font-family: Vdj;
src: url(Vdj.otf);
}

body {
-moz-user-select: -moz-none;
-moz-user-select: none;
-ms-user-select: none;
-webkit-user-select: none;
user-select: none;
background: url(images/5.jpg);
background-repeat: no-repeat;
background-size: inherit;
cursor: default;
}

#piano {
align-self: center;
height: 200px;
}

#s1 {
-moz-user-select: text;
-ms-user-select: text;
-webkit-user-select: text;
user-select: text;
cursor: text;
}

#submit {
position: relative;
left: 430px;
}

.w,
.b,
#tb1,
input[type="button"] {
cursor: pointer;
}

.text,
#white,
#win {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#rec_txt {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

.text {
float: left;
text-align: center;
}

#white {
z-index: 1;
padding-left: 10px;
width: 500px;
height: 200px;
background-image: linear-gradient(#454545 -10px,#000 200px);
}

#black {
position: relative;
top: -190px;
padding-left: 9px;
width: 500px;
}

.w,
.b {
float: left;
text-align: center;
}

.w {
margin: 4% auto;
margin-left: 2px;
width: 32px;
height: 140px;
-moz-border-radius: 2px 2px 5px 5px;
-webkit-border-radius: 2px 2px 5px 5px;
border-radius: 2px 2px 5px 5px;
background-image: linear-gradient(0,#000 -20px,#fff 8%);
color: #000;
font-weight: 700;
}

.b {
position: relative;
width: 20px;
height: 100px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
background-image: linear-gradient(0,#c8c8c8 -10px,#0f0f0f 12%);
color: #fff;
}

#win {
visibility:hidden;
position: relative;
top: 5px;
z-index: 5;
margin: 0px;
padding-left: 15px;
width: 500px;
height: 400px;
border: 1px solid #202020;
background-image: linear-gradient(#C7C7C7 -10px,#fff 200px);
}

#rec_bkg {
margin-top: -2px;
margin-left: -16px;
width: 498px;
height: 20px;
border: 1px solid #202020;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
background-image: linear-gradient(#3189d1 -10px,#000 200px);
}

#sheet_stop {
visibility: hidden;
padding: 0%;
width: 50px;
}

.sep {
color: #B2CCCC;
}

#sheet_play {
padding: 0%;
width: 50px;
}

#rec_bkg_title {
position: absolute;
left: 5px;
color: #DEDEDE;
text-align: center;
font-size: 18px;
font-family: Vdj;
}

.text {
color: #DEDEDE;
}

#recplay,#chat-message-submit {
margin: 2%;
padding: 0%;
width: 50px;
}

#sheet_tb1 {
position: absolute;
left: 10px;
float: left;
width: 606px;
height: 22px;
}

#rec_tb1,
#sheet_tb1 {
top: 32px;
}

#rec_tb3 {
margin-top: 2%;
}

.rec_txt {
position: absolute;
top: 92px;
left: 10px;
width: 480px;
height: 270px;
}