<h3 class="page_heading">Change Password</h3>
<hr>

<form method="post" action="{% url "sampleapp:change_pwd" %}">
    {% csrf_token %}
    <table class="form_table">
        {% for field in change_pwd_form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>

{#    {{ change_pwd_form }}#}

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            type="submit">Change Password</button>
</form>