{% extends "base.html" %}

{% block head_title %}
    Home || Ting
{% endblock %}

{% block tab_bar %}
    <!-- Tabs -->
    <div class = "mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#go-tab" class="mdl-layout__tab is-active" onclick="muted = false;">Go Ting!</a>
        <a href="#social-tab" class="mdl-layout__tab" onclick="muted = true;">Socialize</a>
        <a href="#profile-tab" class="mdl-layout__tab" onclick="muted = true;">Profile</a>
        {% if not user.is_anonymous %}
            <a href="#change-pwd-tab" class="mdl-layout__tab" onclick="muted = true;">Change Password</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <main class="mdl-layout__content">

        <!-- Home tab -->
        <section class = "mdl-layout__tab-panel" id = "social-tab">
            <div class = "page-content box_div">
                <!-- Home -->
                {% load static %}
                {% include "sampleapp/online_users.html" %}
                <hr>

                <div class="custom_row side_by_side">
                    <div class="custom_col">
                        <h5 class="piece_heading">Your conversations</h5>
                        {% for name, link in my_conversations %}
                            <div class="one_conversation">
                                <form action="{% url 'sampleapp:chat' u=link %}">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="submit">{{ name }}</button>
                                </form>
{#                                <a href="{% url 'sampleapp:chat' u=link %}">{{ name }}</a>#}
                            </div>
                            <br>
                        {% endfor %}

                    </div>
{#                    <div class="custom_col right">#}
{#                        SoundCloud placeholder.#}
{#                    </div>#}
                </div>
            </div>
        </section>

        <!-- Profile tab -->
        <section class = "mdl-layout__tab-panel" id = "profile-tab">
            <div class = "page-content box_div">
                <!-- Profile -->
                {% load static %}
                {% include "sampleapp/profile.html" %}
            </div>
        </section>

        <!-- Go tab -->
        <section class = "mdl-layout__tab-panel is-active" id = "go-tab">
            <div class = "page-content box_div side_by_side">
{#                Go Ting placeholder#}
                <div class="mdl-grid vertical_line_right">
                    {% include "sampleapp/piano.html" %}
                </div>

                <div class="mdl-cell mdl-cell--6-col">
                    <h6 class="piece_heading">Your Music</h6>
                    <div id="music_history">
                        {% for msg, timestamp in msg_data %}
                            <div class="one_music">
                                <div class="music_heading side_by_side">
{#                                    <div class="vertical_line_right msg_name">#}
{#                                        <p class="music_name">{{ display_name }}</p>#}
{#                                    </div>#}
                                    <div class="msg_time">
                                        <p class="music_time">{{ timestamp }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="music_text">
                                    <p class="msg_text">{{ msg }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </section>

        <!-- Change password tab -->
        {% if not user.is_anonymous %}
            <section class = "mdl-layout__tab-panel" id = "change-pwd-tab">
                <div class = "page-content box_div">
                    {% load static %}
                    {% include "sampleapp/change_pwd.html" %}
                </div>
            </section>
        {% endif %}

    </main>
{% endblock %}

{% block custom_js %}
    <script>
        let notesDirectory = '{% static "notes" %}',
            hideSend = false,
            hideRecorder = false,
            muted = false,
            needSave = true;
    </script>
    <script type="text/javascript" src="{% static 'js/arm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/piano.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translators/translator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/translators/retranslator.js' %}"></script>
    <script async type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
    <script async type="text/javascript" src="{% static 'js/DOM/window_fnc.js' %}"></script>
    <script async type="text/javascript" src="{% static 'js/DOM/index.js' %}"></script>
    <script async type="text/javascript" src="{% static 'js/DOM/window_dom.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/play_music.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/solo.js' %}"></script>
{% endblock %}