{% load static %}
<script>
    let notesDirectory = '{% static "notes" %}';
</script>
<script type="text/javascript" src="{% static 'js/arm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/piano.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/translators/translator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/translators/retranslator.js' %}"></script>
<script async type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
<script async type="text/javascript" src="{% static 'js/DOM/window_fnc.js' %}"></script>
<script async type="text/javascript" src="{% static 'js/DOM/index.js' %}"></script>
<script async type="text/javascript" src="{% static 'js/DOM/window_dom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/play_music.js' %}"></script>