{% extends "base.html" %}

{% block head_title %}
Chat || Ting
{% endblock %}

{% block content %}

    <div class="chat_page_div">
        <div class="side_by_side">
            <div class="custom_col">
                Piano placeholder
            </div>

            <div class="custom_col chat_box_div">
                <div id="chat-members">
                    <h6>Chatting with {{ chatting_with }}</h6>
                </div>

                <div id="chat-history">
                    {% for msg in msgs %}
                        <div class="one_message {% if msg.sender.username == username %}
                        sent {% else %} received
                        {% endif %}">
                            <p class="sender_name">{{ msg.sender.first_name }} {{ msg.sender.last_name }} {{ msg.timestamp|date:"Y-m-d H:i:s" }}</p>
                            <hr>
                            <p class="msg_text">{{ msg.message }}</p>
                        </div>

                    {% endfor %}

                </div>

                <div id="chat-box">
                    <input id="current_room_label" type="hidden" value="{{ room.label }}">
                    <input id="sender" type="hidden" value="{{ username }}">

                    <input height="30px" id="chat-message-input" type="text" placeholder="Message..."/>
                    <button id="chat-message-submit"
                            class="mdl-button mdl-js-button
                                    mdl-button--raised mdl-js-ripple-effect
                                    mdl-button--accent"
                            type="submit">Send</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    {% load static %}
    <script>
        let roomName = '{{ room.label }}',
            currentUsername = '{{ username }}';
    </script>
    <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}