<h3 class="page_heading">Sign in</h3>
    <hr>

    <form method="post" action="{% url 'sampleapp:signin' %}">
        {% csrf_token %}

        {% if signin_error %}
            <div class="row">
                <div class="col error">
                    {{ signin_error }}
                </div>
            </div>
        {% endif %}

        <table class="form_table">
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input id="username" type="text" name="username">
                </td>
            </tr>

            <tr>
                <td><label for="pwd">Password</label></td>
                <td>
                    <input id="pwd" type="password" name="pwd">
                </td>
            </tr>
        </table>
        <br>

{#                    <input type="hidden" name="next" value="{{ next }}">#}

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Sign in</button>
    </form>