<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% include "snippets/css.html" %}
</head>
<body>
    <div class="container">
        <div class="row main_bar">
{#            <div class="col home_link">#}
{#                <a class="some_link" href="{% url 'sampleapp:index' %}">Home</a>#}
{#            </div>#}

            <div class="col bar_title" onclick="window.location='{% url 'sampleapp:index' %}'">
                <h2>Ting!</h2>
            </div>

            {% if user.is_authenticated %}
                <div class="col profile_link_class">
                    <a class="some_link profile_link_tag" href="#">Profile</a>
                </div>


                <div class="col logout_link_class">
                    <a class="some_link logout_link_tag" href="{% url 'sampleapp:logout' %}">Logout</a>
                </div>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}
    </div>

    {% include "snippets/js.html" %}
    {% if user.is_authenticated %}
        {% load static %}
        <script>
            let firstname = "{{ user.first_name }}",
                lastname = "{{ user.last_name }}";
        </script>
        <script src="{% static "appbar.js" %}"></script>
    {% endif %}
</body>
</html>