<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% include "snippets/css.html" %}
    {% include "snippets/js.html" %}
</head>
<body>
    <div class="container">
        <h1>Ting!</h1>
        <div class="row">
            <div class="col home_link">
                <a href="{% url 'sampleapp:index' %}">Home</a>
            </div>

            <div class="col profile_link_class">
                <a class="profile_link_tag" href="#">Profile</a>
            </div>

            {% if user.is_authenticated %}
                <div class="col logout_link_class">
                <a class="logout_link_tag" href="{% url 'sampleapp:logout' %}">Logout</a>
            </div>
            {% endif %}
        </div>
        {% block content %}{% endblock content %}
    </div>

    {% if user.is_authenticated %}
        {% load static %}
        <script>
            let firstname = "{{ user.first_name }}",
                lastname = "{{ user.last_name }}";
        </script>
        <script src="{% static "appbar.js" %}"></script>
    {% endif %}
</body>
</html>